<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fit Flick</title>
    <link rel="stylesheet" href="/style.css" />
    <!-- global styles -->
    <link rel="stylesheet" href="/products.css" />
    <!-- page styles -->
  </head>
  <body>
    <%- body %>
  </body>
</html>
