@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:white;
}

.login-container{
background:white;
padding:40px;
border-radius:10px;
width:500px;
height: auto;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;
}

h1{
margin-bottom:25px;
}
.breadcrumb{
text-align:center;
color:#777;
margin-bottom:40px;
}
.breadcrumb a {
  color: #777;
  text-decoration: none;
  cursor: pointer;
  transition: transform 1s ease; 
}
.breadcrumb a:hover {
  text-decoration: underline;
  transform: rotate(180deg) scale(1.5);
}
.breadcrumb span {
  color: #000000;
}
form{
display:flex;
flex-direction:column;
}

input{
padding:12px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:6px;
font-size:14px;
}

input:focus{
outline:none;
border-color:black;
}

button{
padding:12px;
border:none;
background:black;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
transition: transform 0.3s ease;
}

button:hover{
/* background:#333; */
transform: scale(1.1);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.193);
}

.error{
color:red;
margin-bottom:10px;
font-size:14px;
}

/* Responsive */

@media (max-width:480px){

.login-container{
width:90%;
padding:25px;
}

h1{
font-size:22px;
}

}